html {
	height: 100%;
	background-color: #252525;
}
body {
	height: 100%;
	background-color: #252525;

}
.textBody {
	font-family: Verdana, Helvetica, sans-serif;
	text-color: #FFFFFF;
 	background-color: #3F4246;
	text-align: center;
	margin: auto;
	height: 100%;
	max-width: 70%;
}
